@media (max-width: 1600px) {}

@media (max-width: 1530px) {}

@media (max-width: 1440px) {}

@media (max-width: 1360px) {}

@media (max-width: 1280px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {

  .nav-menu,
  .auth-btn {
    display: none;
  }

  .hbmenu {
    display: block;
  }

  .newsmenu .nav-menu {
    display: flex;
  }

  .newmenu-btn {
    color: white;
    font-size: small;
  }

  .hero-container {
    padding: 2rem;
  }

  .hero-click {
    margin-top: 4rem;
  }

  .news-cardtitle {
    font-size: medium;
  }

  .mobile-menu {
    width: 40%;
  }

  .faq-title {
    font-size: large;
  }

  .faq-description {
    font-size: smaller;
  }

  .accordion-button {
    font-size: small;
  }

  .pointer {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.7rem;
    border-radius: 0.2rem;
  }

  .accordion {
    --bs-accordion-btn-padding-x: 0.5rem;
    --bs-accordion-btn-icon-width: 1rem;
  }

  .accordion-item {
    font-size: small;
  }

  .mem-card {
    width: 45%;
    margin: 1rem 0;
    border: 1px solid var(--primary-color);
    padding: 1.2rem 1rem;
    border-radius: .5rem;
  }

  .main-footer-container {
    display: block;
    padding: 1.5rem 1rem;
  }

  .footer-misc {
    display: flex;
    align-items: start;
    text-align: left;
    column-gap: 1.55rem;
  }

  .logo-desc {
    max-width: 45%;
  }

  .git h5 {
    margin-top: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .owl-nav {
    font-size: 4rem;
    top: 30%
  }

  .nav-end {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

}

@media (max-width: 575px) {

  .section-title {
    margin: 2rem 0;
    color: var(--primary-color);
  }

  .newsmenu {
    display: none;
  }

  .logo .lname {
    font-weight: 700;
    font-size: larger;
  }

  .logo .ldesc {
    font-weight: 400;
    font-size: x-small;
  }

  .hbmenu {
    width: 1.2rem;
  }

  .nav-header {
    padding: 1rem;
  }

  .section-hero {
    margin-bottom: 1.2rem;
  }

  .hero-container {
    margin: 0;
    padding: 1.2rem;
  }

  .hero-title {
    font-size: x-large;
    font-weight: 600;
  }

  .hero-subtitle {
    font-size: small;
    color: rgb(178, 175, 175);
    margin-top: 0.3rem;
  }

  .hero-click {
    margin-top: 5rem;
  }

  .mobile-menu {
    width: 70%;
  }

  .pointer {
    width: 1.6rem;
    height: 0.6rem;
    margin: 0.7rem;
    border-radius: 0.2rem;
  }

  .ico-div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .ico-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pngico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
  }

  .card-title {
    color: var(--primary-color);
    margin: 0.6rem 0;
    font-size: x-large;
    font-weight: 600;
  }

  .card-price {
    font-size: larger;
    font-weight: 500;
  }

  .mem-card ul li {
    margin: 1rem 0;
    font-size: small;
  }

  .mem-button {
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: .3rem;
  }

  .card-padding-small {
    padding: 0 1rem;
  }

  .mem-card {
    width: 100%;
  }

  .main-footer-container {
    display: block;
    padding: 1.5rem 1rem;
  }

  .footer-logo .lname {
    font-size: larger;
  }

  .footer-logo .ldesc {
    font-size: x-small;
  }

  .footer-misc {
    text-align: left;
    column-gap: 1.55rem;
  }

  .logo-desc {
    max-width: 40%;
  }

  .logo-desc .desc {
    font-size: x-small;
    margin-top: 0.6rem;
  }

  .footer-misc {
    column-gap: 1.4rem;
  }

  .footer-misc ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .footer-misc ul li {
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 500;
  }

  .git h5 {
    font-size: large;
    font-weight: 700;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .git p {
    font-size: small;
  }

  .email {
    font-weight: 500;
    margin-top: 0.2rem;
  }

  .social {
    display: flex;
    column-gap: 1rem;
  }

  .social img {
    width: 1.2rem;
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .owl-nav {
    font-size: 4rem;
    top: 28%
  }

  .owl-dots {
    margin: 0;
  }

  .nav-end {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .search-card-main h5 {
    font-size: small;
  }

  .search-card-desc {
    font-size: x-small;
  }

  .search-card-img {
    width: 40%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.2rem 0 0 0.2rem;
  }

  .card-details .news-cardtag {
    font-size: x-small;
  }

  .contact-main {
    flex-direction: column;
    row-gap: 3rem;
  }

    .messages-success {
      display: flex;
      position: absolute;
      top: 2%;
      max-width: max-content;
      background-color: rgb(156, 219, 156);
      color: rgb(11, 87, 11);
      font-size: large;
      font-weight: 600;
      padding: 0.5rem 2rem;
      z-index: 10;
    }

}

@media (max-width: 375px) {}